.Projects{
    width: 1150px;
    margin: 160px auto;
}

.headings{
    margin-bottom:35px;
    line-height: 1.5;
    word-spacing: 2px;
    text-align: center;
}

.headings p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(55, 55, 55);
}

.headings h1{
    font-size: 48px;
    font-weight: 600;
    color: black;
}

.Projects-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 2;
    gap: 35px;
}

.card1{
    border: 2px solid rgb(163, 163, 163);
    padding: 24px 23px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.img-container img{
    width: 280px;
    height: 280px;
    border-radius: 20px;
}

.project-navigation-btns{
    display: flex;

}

.project-navigation h2{
 font-size: 28px;
 font-weight: 500;
}


.project-navigation-btns a button{
    margin-top: 10px;
    width: 129px;
    padding: 16px;
    border-radius: 50px;
    background-color: transparent;
    color: black;
   margin-right: 18px;
   border: 2px solid black;
}