.Projects{
    width: 1150px;
    margin: 160px auto;
}

.headings{
    margin-bottom:20px;
    line-height: 1.5;
    word-spacing: 2px;
    text-align: center;
}

.headings p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(55, 55, 55);
}

.headings h1{
    font-size: 48px;
    font-weight: 600;
    color: black;
}

.Projects-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
