.hero-section {
  width: 1150px;
  margin: 120px auto;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 200px;
}

.hero-image img {
  width: 60%;
}

.hero-Content img {
  width: 6%;
}

.hero-Content {
  text-align: center;
  line-height: 1.6;
  margin-left: -350px;
}

.hero-Content p {
  font-size: 18px;
  font-weight: 600;
  color: rgb(85, 85, 85);
}

.hero-Content h1 {
  font-size: 50px;
  font-weight: 600;
}

.hero-Content h3 {
  font-size: 28px;
  font-weight: 600;
  color: rgb(85, 85, 85);
}

.hero-Content a button {
  margin-top: 15px;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: transparent;
  color: black;
  margin-right: 18px;
  border: 2px solid black;
}

.hero-Content button {
  padding: 18px 20px;
  border-radius: 40px;
  background-color: rgb(53, 53, 53);
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 600;
}

.socials img {
  margin-top: 20px;
  margin-right: 20px;
}


/* media-queries */

@media (max-width: 800px) {
  .hero-section {
    max-width: 100%;
    margin: 90px auto;
  }

  .main-section {
    display: flex;
    align-items: center; 
    width: 100%;
    margin-left: 310px;
  }

  .hero-image img {
    width: 320px;
  }

  .hero-Content {
    padding-top: 40px;
    text-align: center;
    line-height: 1.6;
    margin-left: 30px;
  }
  .hero-Content img {
    width: 4%;
  }
  
}


 @media (max-width: 600px) {
    .hero-section {
      max-width: 100%;
      margin: 50px auto;
    }
  
    .main-section {
      flex-direction: column;
      align-items: center;
      min-width: 100%;
    }
  
    .hero-Content {
      padding-top: 20px;
      text-align: center;
      line-height: 1.6;
    }

    .hero-image img {
      width: 280px;
    }

    .hero-Content p {
      font-size: 16px;
      font-weight: 600;
      color: rgb(85, 85, 85);
    }
    
    .hero-Content h1 {
      font-size: 33px;
      font-weight: 600;
    }
    
    .hero-Content h3 {
      font-size: 26px;
      font-weight: 600;
      color: rgb(85, 85, 85);
    }
    
    .hero-Content img {
      width: 7%;
    }
  

  } 
  