.footer{
    text-align: center;
    width: 1280px;
    margin: 0 auto;
    background: black;
    min-height: 180px;
    color: white;
}

.footer p{
    font-size: 22px;
    color: white;
    padding-top: 60px;
}

.navigation-links {
    margin-top: 200px;
    text-align: center;
    color: white;
    padding: 20px;
}

.navigation-links a{
    text-decoration: none;
    padding-left: 25px;
    font-size: 25px;
    font-weight: 400;
    color: white;

}

/* .navigation-links a:hover{
 
} */

