.footer{
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    background: black;
    min-height: 180px;
    color: white;
}

.footer p{
    font-size: 22px;
    color: white;
    padding-top: 60px;
}

.navigation-links {
    margin-top: 200px;
    text-align: center;
    color: white;
    padding: 20px;
}

.navigation-links a{
    text-decoration: none;
    padding-left: 25px;
    font-size: 25px;
    font-weight: 400;
    color: white;

}


/* mediaQueries */


@media (max-width:600px) {
    .footer{
        text-align: center;
        min-width: 100%;
        margin: 0 auto;
    }
    
    .footer p{
        font-size: 18px;
        color: white;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .navigation-links {
        margin-top: 100px;
        text-align: center;
        color: white;
        padding: 20px;
    }

    .navigation-links a{
        display: flex;
        flex-direction: column;
        padding: 18px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        color: white;
    
    }

}

